[Unit]
Description=Kafka
Before=
After=network.target

[Service]
Type=simple
User={{ kafka_user }}
Group={{ kafka_group }}
ExecStart={{ kafka_install_dir }}/bin/kafka-server-start.sh {{ kafka_conf_dir }}/server.properties
ExecStop={{ kafka_install_dir }}/bin/kafka-server-stop.sh

[Install]
WantedBy=multi-user.target